.mcl{
	padding: 40px;
}

.main-login{
	width: 50%;
	margin: auto;
	box-shadow: 2px 2px 10px rgb(0,0,0, 0.3);
	padding: 25px;
}

.ml-logo {
	width: 150px;
	height: 110px;
	display: block;
	margin: auto;
}
.ml-wel{
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
}

.button-bbtn{
	display: flex;
	justify-items: center;
	align-items: center;
	gap: 40px;
}

.button-bbtn span:hover {
	cursor:pointer;
}
.ml-part-input{
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.inf-pgn{
	display:flex;
	flex-direction: column;
	font-weight: bold;
	text-align: center;
	margin-top:20px;
}
.inf-pgn div{
	display:flex;
	flex-direction: column;
}
.inf-pgn span{
	display:inline-block;
}