.mcr{
	padding: 40px;
}
.part-image img{
	width: 150px;
	height: 110px;
	display: block;
	margin: auto;
}
.part-image span{
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
}
.part-register{
	width: 50%;
	padding: 25px;
	margin: auto;
	box-shadow: 2px 2px 10px rgb(0,0,0, 0.3);
}
.part-input{
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.part-btn{
	display: flex;
	gap: 30px;
}

.part-btn span:hover{
	cursor: pointer;
}