.not-found{
	width: 50%;
	margin:auto;
	height:100vh;
}
.not-found img{
	width: 250px;
	height: 250px;
	margin: auto;
	display:block;
	padding: 30px 0 0 0;
}
.not-found h3{
	text-align: center;
	font-size: 40px;
	
}

.not-found span{
	display: block;
	padding: 20px;
	background-color: navy;
	color: white;
	text-align: center;
	width: 30%;
	border-radius: 10px;
	margin: 20px auto;
	
}
.not-found span:hover{
	cursor: pointer;
}